@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #e9e9e9;
    height: 100%;
}

.header{
    background-color: #EBE3D5; 
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    margin: 0;
}

.header .nav-name{
    font-family:  'IBM Plex Sans Condensed', sans-serif;
    color: #776B5D;
    flex-grow: 1;
    align-items:flex-start;
    font-size: 35px;
    margin-left: 3%;
}

.header nav{
    flex-grow: 1;
}

.header .nav-links{
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    
}

.header .nav-links a{
    font-family:  'IBM Plex Sans Condensed', sans-serif;
    color: #776B5D; 
    font-size: 25px;
    text-decoration: none;
    transition: .5s;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

 .header .nav-links li a:hover {
    color: black;; 
}  

.main{
    display: flex;
    flex-direction: column;
    
    width: 90%;
    margin: auto;
    
}


section{
   border: 5px solid #545454;
    width: 100%;
    height: 100vh;
} 

.section-profile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 86vh;
}

.section-profile .div-img{
    margin: auto;
    flex-grow: 0;
    flex-shrink: 1;

}
.section-profile .div-inf{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    flex-grow: 0;
    flex-shrink: 1;

}

.h3-name{
    font-size: 50px;
    font-weight: bolder;
}


 .section-profile .div-img img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.button-cv {
    padding: 10px 20px;
    margin: 3%;
    height: 55px;
    width: 115px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button-cv:hover {
    background-color: #45a049;
  }
  .button-cv:active {
    background-color: #3e8e41;
  }

.section-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .title{
    font-size: 3rem;
    padding: 3%;
    font-weight: bold;
}

.section-skills .container-skills{
    /* margin-top: 2%; */
    display: flex;
    justify-content: space-around;
}


.section-skills .container-skills .details-container{
    padding: 1.5rem;
    margin: 1rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    background-color: #FFE3BB;
    height: 88%;
    width: 90%;
}

.section-skills .container-skills .details-container .body-infSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.section-skills .container-skills .details-container .body-infSkills article{
    flex: 0 0 48%; /* Ajusta según sea necesario para que haya dos por fila */
    display: flex;
    align-items: center;
    font-size: 3vh;
    margin: 5%;
}

.icon{
    width: 3vh;
    height: 3vh;
    margin-right: 9%;
}

.title-skills{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.section-projects .container-projects{
    border: 5px solid #545454;
    display: flex;
     flex-flow: row wrap; 
    justify-content: space-around;
    width: 90%;
    height: 85%;
}

.section-projects .container-projects .article-proyects{
    border: 5px solid #a7cb54;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 49%;
    height: 49%;
}

.section-projects .container-projects .article-proyects .container-imgProjects {
/*     display: flex;
    border: 5px solid #a7cb54;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 49%; */
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.section-projects .container-projects .article-proyects .container-imgProjects .img-projects{
    /* width: 100%;
    height: 27vh;
    max-width: 100%; /* Ajusta según sea necesario 
    max-height: 100%; /* Ajusta según sea necesario */
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}